<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Large game asset relay" stopProcessing="true">
          <match url="^game/content/addons/(hires4x\.zip|3dovoice\.zip|3domusic\.zip|native1080-zh_TW\.uqm)$" />
          <action type="Rewrite" url="server.js?asset={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Network Super Melee relay status" stopProcessing="true">
          <match url="^netplay/status/?$" />
          <action type="Rewrite" url="server.js?status=1" />
        </rule>
        <rule name="Network Super Melee WebSocket relay" stopProcessing="true">
          <match url="^netplay/(.+)$" />
          <action type="Rewrite" url="server.js?room={R:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".data" />
      <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Cross-Origin-Opener-Policy" value="same-origin" />
        <add name="Cross-Origin-Embedder-Policy" value="require-corp" />
        <add name="Cross-Origin-Resource-Policy" value="cross-origin" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
